body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calcDisplay {
    display: flex;
    background-color: lightgrey;
    justify-content: flex-end;
    height: 75px;
    font-size: large;
    margin-bottom: 10px;
}

.calculatorDiv {
    background-color: red;
    padding: 35px 25px 25px;
    width: 200px;
    border-radius: 20px;
    border-style: outset;
}

.btnrow {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.btn {
    align-self: stretch;
    width: 100%;
    justify-content: space-around;
    border-radius: 5px;
    margin: 0px 3px;
    padding: 7.5px;
    font-size: large;
}

.non-num {
    color: white;
    background-color: DeepSkyBlue;
}

.num {
    color: red;
}

