body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calcDisplay {
    display: flex;
    background-color: lightgrey;
    justify-content: flex-end;
    height: 50px;
    font-size: 1em;
}